/* @font-face{
    font-family: 'Dancing_Script';
    src: url("Dancing_Script/static/DancingScript-Bold.ttf")
}

@font-face{
    font-family: 'Lobster';
    src: url("Lobster/Lobster-Regular.ttf")
} */




*{
    box-sizing: border-box;
}

body{
    background-color: coral;
    max-width: 1300px;
    margin: auto;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 0;
}

h1.info{
    color: blue;
}

h2{
    text-align: center;
}

aside{
    background-color: greenyellow;
    border-radius: 1em;
}

article{
    background-color:turquoise;
    border-radius: 1em;
}

p{
    font-size: 21.1px;
}

article, footer, aside{
    padding: 1em;
}

article, aside, footer{
    margin: 0.5em;
}

main{
    display: flex;
}

article{
    width: 70%;
}

aside{
    width: 30%;
}

h2{
    text-align: center;
}

footer{
    background-color:hotpink;
    border-radius: 0.5em;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3{
    color: darkviolet;
}